#wrapper
{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	/*min-width:1280px;*/
	overflow:hidden;
}

#sectionLeft
{
	position:absolute;
	left:0px;
	top:0px;
	width:50%;
	bottom:0px;
	min-width:100px;
	/*overflow:hidden;*/
}
#sectionRight
{
	height:100%;
	position:absolute;
	top:0px;
	right:0px;
	min-width:100px;
	overflow-x:hidden;
	overflow-y:scroll;
	background:rgba(0,0,0,0.5);
	width:50%;
}